* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    overflow-x: hidden;
}
.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.mode {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 15%;
    cursor: pointer;
    padding: 5px;
}
.mode p {
    font-size: 18px;
    padding-left: 5px;

}
.container {
  width: 90% ;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
}
.search-container input {
    width: 90%;
    height: 40px;
    margin-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
}
.search-container input::placeholder {
    font-size: 17px;
    color: gray;
}
.search-container i {
    font-size: 15px;
    color: gray;
}
.filter {
    border-radius: 5px;
    height: 50px;
    width: 15%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.reset-btn {
    border-radius: 5px;
    height: 50px;
    width: 15%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.countries-container {
    width: 90% ;
    margin: auto;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
  }
  .country-container {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .country-container:hover {
    transform: scale(1.1);
  }
 
  .country-container img {
    width: 100%;
    height: 50%;
    object-fit: cover; 
  }
  .country-info {
    width: 70%;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    line-height: 25px;
  }
  .back-div{
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .back-div p {
    margin-left: 5px;
    color: gray;
  }

.country-details-container {
    width: 90%;
    height: 60vh;
    margin: 50px auto;
}
.country-information {
    display: flex;
    justify-content: space-between;
}
.imageDiv {
    width: 40%;
}
.imageDiv img {
    width: 100%; /* Set a fixed width */
    height: auto;
}
.country-details {
    margin-right: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
}
.country-details h2 {
    margin-bottom: 20px;
}
.details2 ,
.details1{

   line-height: 27px;
} 
.details2{
    margin-top: 40px;
} 
.country-details > div:nth-child(3) {
    grid-column: span 2; 

}
.border {
    display: flex;
}

.dark-mode {
    background-color: #202c37;
    color: #ffffff;
}
.container {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 85%;
    width: 15%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    padding: 10px;
    line-height: 30px;
  }
  .show-dropdown {
    display: block;
  }

  .dropdown-menu p:hover {
    color: grey;
    cursor: pointer;
  }
  @media (max-width: 480px) {
   
    .nav-bar {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  0 7px;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .nav-bar h2 {
        font-size: 17px;
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 30%;
        cursor: pointer;
        padding: 0 5px;
    }
    .mode p {
        font-size: 12px;
        padding-left: 5px;
    
    }
    .container {
        width: 100% ;
        height: 200px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      }
      .search-container {
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
        width: 95%;
        height: 45px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-radius: 5px;
    }
    .search-container input {
        width: 90%;
        height: 40px;
        margin-left: 10px;
        outline: none;
        border: none;
        font-size: 12px;
    }
    .search-container input::placeholder {
        font-size: 12px;
        color: gray;
    }
    .search-container i {
        font-size: 13px;
        color: gray;
    }
    .filter {
        border-radius: 5px;
        height: 50px;
        width: 40%;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        font-size: 13px;
    }
    .reset-btn {
        border-radius: 5px;
        height: 50px;
        width: 40%;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 13px;
    }

    .countries-container {
        width: 90% ;
        margin: auto;
        margin-top: 50px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        
    
      }
      .country-container {
        width: 300px;
        height: 350px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      }
      .country-container h2 {
        font-size: 17px;
      }
      .country-container p {
        font-size: 12px;
      }
      .country-container img {
        width: 100%;
        height: 50%;
        object-fit: cover; 
      }
      .back-div {
        font-size: 12px;
      }
      .country-details-container {
        width: 100%;
    }
    .country-information {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .imageDiv {
        width: 100%;
    }
    .imageDiv img {
        width: 100%; /* Set a fixed width */
        height: auto;
    }
    .country-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
    }
    .details2{
        margin-top: 20px;
    }
    .details1 h2 {
        margin-top: 10px;
    }
    .container {
        width: 100%;
    }

    .dropdown-menu {
        left: 50%;
        transform: translate(-50%, -100%);
        width: 200px;
        max-width: 200px;
        margin-top: 210px;
    }
    
  }